body{
    padding: 0;
    margin: 0;
}
h1{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: rgba(148, 23, 176, 0.89);
    font-size: 50px;
    font-weight: bold;
}
.calculator{
    text-align: center;
    background-color: rgb(149, 36, 134);
    width: 450px;
    height: 460px;
    margin-left:50px;
    padding: 20px;
    border-radius: 15px;
    display: inline-block;
}
#answer{
    background-color: rgba(255, 255, 255, 0.692);
    height: 50px;
    width: 400px;
    border-radius: 10px;
    margin-bottom: 20px;
    letter-spacing: 1px;

}
.calculator input{
    font-size: 22px;
    width: 62px;
    height:62px ;
    color: black;
    background-color:rgb(235, 213, 135) ;
    margin:10px;
    padding: 12px;
    border-radius: 15px solid;
}
input[type="button"]:hover{
    cursor: pointer;
    background-color: white;
    color: rgb(0, 0, 0);

}
input[class="btn-red"]{
    background-color: rgb(234, 38, 156);
}
input[class="btn-green"]{
    background-color:rgb(54, 217, 203);
}
